<div
  class="absolute h-[2px] w-full bg-gradient-to-l from-black via-white to-slate-600"
></div>
<div class="image-bg h-full w-full bg-cover bg-bottom">
  <div
    class="gradient flex h-full w-full flex-col items-center lg:justify-start"
  >
    <div
      class="h-full w-[95%] overflow-auto bg-slate-800 bg-opacity-50 px-2 pt-20 pb-5 text-center sm:w-[90%] sm:pt-32 sm:text-left"
    >
      <h1 class="font-four mb-2 text-[30px] text-orange-600">
        {{ "PRIVACY_POLICY.sentence0" | translate }}
      </h1>
      <div
        class="h-[1px] w-full bg-gradient-to-r from-black via-orange-600 to-slate-600"
      ></div>
      <div class="h-full">
        <p
          class="font-four text-[23px]"
          *ngFor="let sentence of privacySentences"
          id="{{ sentence.substr(15, sentence.length) }}"
        >
          {{ sentence | translate }}
        </p>
        <div
        class="h-[1px] w-full bg-gradient-to-r mb-2 from-black via-orange-600 to-slate-600"
      ></div>
      </div>
    </div>
  </div>
</div>
