<app-cookie-consent></app-cookie-consent>
<app-nav
  class="flex h-[125px] lg:h-[150px] w-full justify-center overflow-hidden bg-[url('^./assets/pictures/wooden-board.jpg')] bg-cover bg-no-repeat"
>
</app-nav>
<div class="home-main relative h-full w-full">
  <div class="h-full w-full bg-black">
    <router-outlet></router-outlet>
  </div>
  <div
  class="absolute z-[10] h-[2px] w-full bg-gradient-to-l from-black via-white to-[#4C4556]"
></div>
  <app-footer
    class="flex h-auto w-full justify-center overflow-hidden bg-black"
  ></app-footer>
</div>
