<app-nav class=" flex justify-center w-full h-20 bg-black overflow-hidden"></app-nav>
<div class="home-main h-full w-full relative">
  <div
    class="absolute bottom-0 bg-gradient-to-r from-black via-orange-600 to-slate-600 h-[3px] w-full"
  ></div>
  <div class="w-full h-full bg-black flex justify-center items-center">
    <router-outlet></router-outlet>
  </div>

  <div
    class="absolute top-0 bg-gradient-to-r from-black via-orange-600 to-slate-600 h-[3px] w-full"
  ></div>
</div>
<app-footer class="flex justify-center w-full h-50 bg-black overflow-hidden"></app-footer>
