
.animate-spin {
    animation: spin 5s linear infinite;
}

.hover\:animate-pulse:hover {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.label {
    background: rgb(226,88,15);
    background: linear-gradient(0deg, rgb(82, 99, 133) 0%, rgba(0,0,0,0.5312325613839286) 66%, rgba(7,3,0,1) 100%); 
}