@media only screen and (max-width:300px) {
    #logo {
        width: 100px;
    }
    
}

.animate-spin {
    animation: spin 5s linear infinite;
}

.hover\:animate-pulse:hover {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}