<div class="image-bg h-full w-full overflow-hidden bg-cover bg-bottom">
  <div
    class="gradient flex h-full w-full flex-col items-center justify-center bg-black bg-opacity-60 lg:justify-start"
  >
    <div
      class="h-full w-full text-[13px] sm:text-[15px] md:text-[16px] lg:text-[18.5px]"
    >
      <div class="relative h-full w-full">
        <div
          class="absolute z-[10] h-[2px] w-full bg-gradient-to-l from-black via-white to-slate-600"
        ></div>
        <button
          class="font-three absolute right-[0px] top-[50px] z-20 h-[38px] w-[100px] -translate-y-1/2 transform rounded-lg rounded-r-none border-[2px] border-r-0 border-gray-900 bg-white p-[5px] text-xs leading-none text-black hover:bg-yellow-600 sm:top-[150px]"
          (click)="slideNext()"
        >
          {{ nextFromMenu() | translate }}
        </button>
        <div
          class="absolute right-[0px] top-[56px] z-10 h-[40px] w-[105px] -translate-y-1/2 transform rounded-lg rounded-r-none bg-gray-900 text-xs leading-none sm:top-[155px]"
        ></div>
        <button
          class="font-three absolute left-[0px] top-[50px] z-20 h-[38px] w-[100px] -translate-y-1/2 transform rounded-lg rounded-l-none border-[2px] border-l-0 border-gray-900 bg-white p-[5px] text-xs leading-none text-black hover:bg-yellow-600 sm:top-[150px]"
          (click)="slidePrev()"
        >
          {{ prevFromMenu() | translate }}
        </button>
        <div
          class="absolute left-[0px] top-[56px] z-10 h-[40px] w-[105px] -translate-y-1/2 transform rounded-lg rounded-l-none bg-gray-900 text-xs leading-none sm:top-[155px]"
        ></div>
        <div
          id="slider"
          class="absolute top-0 flex h-full w-[300%] bg-yellow-600 bg-opacity-70 sm:h-full"
          [@slide]="this.getCurrentSlide()"
        >
        <div
        class="h-full w-[100vw] overflow-y-scroll lg:overflow-y-hidden bg-transparent lg:flex"
      >
        <div
          class="relative h-[50%] w-[100vw] bg-[url('^./assets/pictures/no-bg-burger.png')] bg-cover bg-center bg-no-repeat sm:h-full lg:w-[50%]"
        ></div>
        <div
          id="info"
          class="my-y mx-1 h-[100%] py-2 text-justify lg:overflow-y-scroll align-middle sm:h-full sm:text-left lg:w-[45%]"
        >
              <div class="block h-fit w-full px-2">
                <div
                  class="flex h-full flex-col justify-start text-center sm:overflow-auto sm:text-left"
                >
                  <h1
                    class="font-three titles relative my-3 w-[90%] p-2 pb-6 text-center text-[18px] tracking-wider text-white sm:p-5 sm:pb-14 sm:text-[30px]"
                  >
                    {{ "BURGERS" | translate }} MID/XXL
                    <img
                      src="./assets/pictures/red-label.png"
                      class="absolute top-0 -z-10 h-[100%] w-[100%] opacity-80"
                    />
                  </h1>

                  <div *ngFor="let burger of burgers" class="my-2">
                    <h1 class="{{ titleClass }}">
                      {{ burger.title | translate }}
                    </h1>
                    <div class="flex flex-col justify-between sm:flex-row">
                      <p class="font-four text-[20px] sm:w-[70%]">
                        {{ burger.description | translate }}
                      </p>
                      <div id="allergens" class="flex justify-center gap-3 p-2">
                        <img
                          *ngFor="let allergen of burger.allergens"
                          src="{{ allergen }}"
                          class="mt-auto h-[30px] w-[30px]"
                        />
                      </div>
                    </div>

                    <div
                      class="z-50 h-[1px] w-full bg-gradient-to-r from-black via-white to-black"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="h-full w-[100vw] overflow-y-scroll lg:overflow-y-hidden bg-transparent lg:flex"
          >
            <div
              class="relative h-[50%] w-[100vw] bg-[url('^./assets/pictures/wrapz.png')] bg-cover bg-center bg-no-repeat sm:h-full lg:w-[50%]"
            ></div>
            <div
              id="info"
              class="my-y mx-1 h-[100%] py-2 text-justify lg:overflow-y-scroll align-middle sm:h-full sm:text-left lg:w-[45%]"
            >
              <div class="block h-fit w-full px-2">
                <div
                  class="flex flex-col justify-start text-center sm:text-left"
                >
                  <h1
                    class="font-three titles relative my-3 w-[90%] p-2 pb-6 text-center text-[18px] tracking-wider text-white sm:p-5 sm:pb-14 sm:text-[30px]"
                  >
                    {{ "WRAPS" | translate }} MID/XL
                    <img
                      src="./assets/pictures/red-label.png"
                      class="absolute top-0 -z-10 h-[100%] w-[100%] opacity-80"
                    />
                  </h1>
                  <div *ngFor="let wrap of wraps" class="my-2">
                    <h1 class="{{ titleClass }}">
                      {{ wrap.title | translate }}
                    </h1>
                    <div class="flex flex-col justify-between sm:flex-row">
                      <p class="font-four text-[20px] sm:w-[70%]">
                        {{ wrap.description | translate }}
                      </p>
                      <div id="allergens" class="flex justify-center gap-3 p-2">
                        <img
                          *ngFor="let allergen of wrap.allergens"
                          src="{{ allergen }}"
                          class="mt-auto h-[30px] w-[30px]"
                        />
                      </div>
                    </div>
                    <div
                      class="z-50 h-[1px] w-full bg-gradient-to-r from-black via-white to-black"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="h-full w-[100vw] overflow-y-scroll lg:overflow-y-hidden bg-transparent lg:flex"
          >
            <div
              class="relative h-[50%] w-[100vw] bg-[url('^./assets/pictures/beer-chicken.png')] bg-cover bg-center bg-no-repeat sm:h-full lg:w-[50%]"
            ></div>
            <div
              id="info"
              class="my-y mx-1 h-[100%] py-2 text-justify lg:overflow-y-scroll align-middle sm:h-full sm:text-left lg:w-[45%]"
            >
              <div class="block h-fit w-full px-2">
                <div
                  class="flex flex-col justify-start text-center sm:text-left"
                >
                  <h1
                    class="font-three titles relative my-3 w-[90%] p-2 pb-6 text-center text-[18px] tracking-wider text-white sm:p-5 sm:pb-14 sm:text-[30px]"
                  >
                    {{ "PORTIONS" | translate }}
                    <img
                      src="./assets/pictures/red-label.png"
                      class="absolute top-0 -z-10 h-[100%] w-[100%]"
                    />
                  </h1>
                  <div *ngFor="let portion of portions" class="my-2">
                    <h1 class="{{ titleClass }} leading-none sm:text-[26px]">
                      {{ portion.title | translate }}
                    </h1>
                    <div class="flex flex-col justify-between sm:flex-row">
                      <p class="font-four text-[20px] sm:w-[70%]">
                        {{ portion.description | translate }}
                      </p>
                      <div id="allergens" class="flex justify-center gap-3 p-2">
                        <img
                          *ngFor="let allergen of portion.allergens"
                          src="{{ allergen }}"
                          class="mt-auto h-[30px] w-[30px]"
                        />
                      </div>
                    </div>
                    <div
                      class="z-50 h-[1px] w-full bg-gradient-to-r from-black via-white to-black"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative mt-auto flex h-fit w-full flex-col justify-start text-center text-white sm:mt-0"
    >
      <div
        class="absolute top-[-100%] bottom-4 left-4 right-0 z-[999] m-auto flex h-[30px] w-[150px] rotate-6 items-center justify-center rounded border border-slate-900 bg-red-700 text-white grayscale-[30%] md:h-[40px] md:w-[200px]"
      >
        <h1 class="font-white font-three align-middle tracking-widest">
          {{ "OTHERS.BESTSELLERS" | translate }}
        </h1>
      </div>
      <div
        class="absolute top-[-104%] bottom-0 left-0 right-0 z-[998] m-auto h-[30px] w-[150px] rotate-6 rounded bg-slate-900 bg-opacity-90 md:h-[40px] md:w-[200px]"
      ></div>
      <div
        class="z-50 h-[3px] w-full bg-gradient-to-l from-black via-white to-slate-600"
      ></div>
      <div class="scrollbar-visible relative h-[170px] w-full overflow-x-auto overflow-y-hidden">
        <div
          class="scrollbar-visible absolute flex h-full w-[550%] gap-4 bg-yellow-600 bg-opacity-30 p-2 sm:w-[200%] xl:w-[110%]"
        >
          <div
            class="flex h-full w-[25.0%] min-w-[300px] rounded-xl bg-black bg-opacity-70"
            *ngFor="let product of hotProducts"
          >
            <div
              class="relative flex h-full w-[50%] items-center justify-center"
            >
              <img
                class="absolute w-full"
                src="./assets/pictures/white-dish.png"
              />
              <img
                class="z-50 h-[80%] sm:h-[110%] w-auto rounded-md contrast-125"
                src="{{ product.img }}"
              />
            </div>
            <div class="my-auto h-fit w-[50%] px-5">
              <div class="mb flex justify-center">
                <svg
                  *ngFor="let productStar of product.stars"
                  aria-hidden="true"
                  class="h-5 w-5 text-yellow-600"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>First star</title>
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
              </div>
              <h1>{{ product.title | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
