@media only screen and (max-width: 334px) {
  #slider-container {
    margin-top: 310px !important;
  }
}

@media only screen and (max-width: 310px) {
  .wrapper {
    width: 310px;
  }
}

@keyframes drop {
  0% {
    bottom: 150%;
  }

  100% {
    bottom: -150%;
    rotate: 70deg;
  }
}

.scrollbar-visible::-webkit-scrollbar {
  height: 10px !important;
  width: 4px !important;
  background: black;
}

.scrollbar-visible {
  scrollbar-color: #7f2928 rgb(0, 0, 0);
  scrollbar-color: initial;
  scrollbar-width: initial;
  -webkit-tap-highlight-color: initial;
  outline-color: initial;
}
