<div
  class="relative h-full w-full flex-col justify-center bg-stone-800 p-5 sm:flex"
>
  <img
    src="./assets/pictures/tomato.png"
    class="absolute left-[2%] top-[-5%] h-[333px] w-[500px] scale-x-[-1] overflow-hidden opacity-20 sm:left-[10%] sm:top-[-10%]"
  />
  <div
    class="contacts relative mx-auto w-fit text-center text-lg tracking-[2px]"
  >
    <h1>{{ "FOOTER.ADDRESS" | translate }}</h1>
    <p
      class="mt-1 mb-1 cursor-pointer text-orange-600 duration-300 hover:scale-125"
      (click)="redirectToLocation()"
    >
      {{ "FOOTER.STREET" | translate }}
    </p>
    <p>+359 884 917 666</p>
    <p>{{ "FOOTER.WORK_I" | translate }}</p>
    <p>{{ "FOOTER.WORK_II" | translate }}</p>
  </div>
  <div
    class="relative bottom-2 mt-5 text-center sm:absolute sm:right-5 sm:mt-0"
  >
    <h1 class="text-xs">{{ "FOOTER.RIGHTS_RESERVED" | translate }}</h1>
  </div>
</div>
